.sidebar{
    background-image: linear-gradient(40deg, #9E1F63,#7E194F);
    position: fixed;
}
.sidebar li{
    margin-bottom: 2em;
}
.sidebar li a {
    text-decoration: none;
}
.sidebar li:hover span{
    display: inline-block;
    transform: translate(5px);
}
.sidebar svg{
    margin-right: 5px;
}